.address-details__title {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  &__main,
  &__sub {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
  &__sub {
    font-size: 14px;
  }
}
