@import 'vars';
@import 'mixins';

$filter-text-size: 14px;
$filter-panel-row-margin: 10px;
$filter-height: 42px;
$current-filter-cross-size: 8px;
$current-filter-cross-thickness: 2px;
$filter-background-color: #655984;

@mixin add-row-margin($row-margin) {
  margin-top: $row-margin;
  margin-bottom: $row-margin;
}

@mixin filter-with-circle($global, $text-size, $horizontal-padding, $vertical-padding, $colors-map) {
  &--#{$global} {
    padding-left: $text-size + $vertical-padding;
    &::before {
      content: '';
      width: $text-size;
      height: $text-size;
      border-radius: 50%;
      position: absolute;
      left: $vertical-padding/2;
      top: $text-size/2 - $horizontal-padding/2;
    }
  }
  @each $key, $color in $colors-map {
    &--#{$key} {
      &::before {
        background-color: $color;
      }
    }
  }
}

.filter_helper {
  background-color: $filter-background-color;
  display: inline-flex;
  align-items: center;
  height: $filter-height;
}

.filter_helper__btn {
  height: $filter-height;
  width: $filter-height * 1.1;
  background-color: $brand-blue;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:before {
    content: '';
    display: inline-block;
    height: 40%;
    width: 100%;
    background-image: url(../assets/filter.svg);
    background-size: contain;
    background-position: 45% 50%;
    background-repeat: no-repeat;
  }

  $filter-btn-arrow-size: 4px;
  &:after {
    content: '';
    position: absolute;
    border: solid 2px $brand-purple;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    top: calc(50% - #{$filter-btn-arrow-size * 0.5});
    height: $filter-btn-arrow-size;
    width: $filter-btn-arrow-size;
    right: $filter-btn-arrow-size * 1.5;
  }
}

.filter_helper__filters-panel {
  position: absolute;
  cursor: default;
  font-size: $filter-text-size;
  white-space: nowrap;
  background-color: white;
  color: $brand-purple;
  left: 45%;
  top: 95%;
  z-index: 1;
  padding: 12px;
  border-radius: 12px;
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.3);
  width: 600px;
}

.filter_helper__filters-panel__title {
  font-family: $default-bold-font;
  @include add-row-margin($filter-panel-row-margin);
}

$filter_helper-value-horizontal-padding: 4px;
$filter_helper-value-vertical-padding: 8px;

.filter_helper__filters-panel__filter {
  @include add-row-margin($filter-panel-row-margin);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &-label {
    display: inline-block;
    @include reset-button();
    font-family: $default-bold-font;
    width: 160px;
    cursor: pointer;
  }
  &-value {
    display: inline-block;
    @include reset-button();
    padding: $filter_helper-value-horizontal-padding
      $filter_helper-value-vertical-padding;
    position: relative;
    cursor: pointer;
    border-radius: 20px;

    &:hover {
      background-color: rgba(100, 100, 100, 0.1);
    }

    &--active {
      background-color: rgba(100, 100, 100, 0.2);
    }

    @include filter-with-circle('reputation', $filter-text-size, $filter_helper-value-horizontal-padding, $filter_helper-value-vertical-padding, $statuses);

    @include filter-with-circle('type', $filter-text-size, $filter_helper-value-horizontal-padding, $filter_helper-value-vertical-padding, $type-map);
  }
}

.filter_helper__filters-panel__full-text {
  display: inline-block;
  padding: $filter_helper-value-horizontal-padding
    $filter_helper-value-vertical-padding;
  opacity: 0.6;
}

$triangle-size: 5px;

.triangle-down {
  height: 0;
  width: 0;
  border: solid $triangle-size transparent;
  border-top: solid $triangle-size white;
  display: inline-block;
  transform: translateY($triangle-size/2);
  margin-left: $triangle-size/2;
}

.filter_helper__filters-panel__close-btn {
  @include cross(12px, 12px, 2px, $brand-purple);
  //right: 5px;
}
