@import './vars';

html,
body {
  margin: 0;
  min-height: 100vh;
}

#react-main {
  min-height: 100vh;
  background-color: $default-bg;
  font-family: $default-font, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  min-width: $desktop-width;

  * {
    box-sizing: border-box;
  }
}

.app {
  position: relative;
  background-color: $default-bg;
  min-width: $desktop-width;
  color: $brand-purple;
  min-height: 100vh;
}

.app__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  clear: both;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  a {
    outline: none;
    box-shadow: none;
    text-decoration: none;
  }
}

.no-scroll {
  height: 100vh;
  overflow-y: hidden;
}
