@import 'vars';
@import 'mixins';

.rules__export {
  font-size: 16px;
  padding-left: 20px;
  background-color: $light-purple;
  height: 42px;
  display: flex;
  align-items: center;
}

.rules {
  .aw-table__header__cell,
  .aw-table__body__cell {
    &--type {
      font-family: $default-bold-font;
    }
    &--value {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    @each $match-type in ('blocked', 'passed') {
      &--#{$match-type} {
        @include activityResolver();
      }
    }
    &--created,
    &--last_hit {
      min-width: 110px;
    }
    &--remove {
      position: relative;
      width: 30px;
    }
  }
  .aw-table__body__cell {
    &--blocked {
      color: $green;
    }
    &--passed {
      color: map-get($statuses, 'bad');
    }
  }
}

.btn.rules__rule__remove-btn {
  border: none;
  background-image: url('../assets/trash.svg');
  font-size: 0;
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  &:hover {
    opacity: 1;
  }
}
