@import 'vars';

@mixin filter-with-circle(
  $global,
  $text-size,
  $horizontal-padding,
  $vertical-padding,
  $colors-map
) {
  &--#{$global} {
    padding-left: 0;
    &::before {
      content: '';
      width: $text-size;
      height: $text-size;
      border-radius: 50%;
      margin: 0 8px;
    }
  }
  @each $key, $color in $colors-map {
    &--#{$key} {
      &::before {
        background-color: $color;
      }
    }
  }
}

$filter-side-margin: 5px;
$filter-horizontal-padding: 3px;
$filter-vertical-padding: 8px;
$filter-bg-color: white;
$filter-color: $brand-purple;
$filter-font-size: 11px;

.smart-filter__item__value {
  @mixin smart-filter-circle($global, $colors-map) {
    @include filter-with-circle(
      $global,
      $filter-font-size,
      $filter-horizontal-padding,
      $filter-vertical-padding,
      $colors-map
    );
  }

  @include smart-filter-circle('reputation-status', $statuses);
  @include smart-filter-circle('address-reputation-status', $statuses);
  @include smart-filter-circle('robot-reputation-status', $statuses);
  @include smart-filter-circle('identity-type', $type-map);
}

.smart-filter__wrapper {
  display: flex;
  background-color: #655984;
  align-items: center;
  .smart-filter {
    flex-grow: 1;
  }
}

.smart-filter__children {
  display: flex;
  align-items: center;
}
