@import 'vars';
@import 'mixins';

.status {
  padding: 80px 40px;
}

.status__section__title {
  font-size: 25px;
  padding-left: $rounded-table-border-radius;
  margin: 25px 0;
}

.status {
  .rounded-table__header__cell,
  .rounded-table__body__cell {
    &--name {
      width: 320px;
      font-family: $default-bold-font;
    }
    &--accepted,
    &--rejected {
      @include activityResolver();
    }
  }
  .rounded-table__body__cell {
    &--accepted {
      color: $green;
    }
    &--rejected {
      color: map-get($statuses, 'bad');
    }
  }
}
