{
  "presets": ["babel-preset-env", "babel-preset-stage-1", "babel-preset-react"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "presets": [
        "babel-preset-env",
        "babel-preset-stage-1",
        "babel-preset-react",
        "babel-preset-react-optimize"
      ]
    }
  }
}
