@import '../vars';

$bg-color: $light-gray;

.export-button {
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  background-color: $bg-color;
  padding: 2px 10px;
  a {
    color: $brand-purple;
  }
  &:hover {
    background-color: darken($bg-color, 5%);
  }
}
