@import '../vars';
@import '../button'; // need those mixins :s

@mixin btn-icon($icon) {
  &::before {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-bottom: -2px;
    margin-right: 6px;
    content: '';
    background-image: $icon;
  }
}

$session-details-action-color: #fff;

.rule-button {
  @include btn-type(white, transparent);
  font-size: inherit;

  border-radius: 2px;
  transition: border-color 0.2s ease;
  &--blocked {
    @include btn-icon(url('../../assets/blocked-white.svg'));
    &:hover {
      border-color: $red;
    }
  }

  &--whitelist {
    @include btn-icon(url('../../assets/verified-white.svg'));
    &:hover {
      border-color: $brand-blue;
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      border-color: inherit;
    }
  }
  &--reset {
    border: none;
    color: $gray;
    padding-left: 0;
    padding-right: 0;
    transition: color 0.2s;
    &:hover {
      color: $light-gray;
      background-color: unset;
    }
    &:before {
      display: none;
    }
  }
}

.rule-button-wrapper {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
}

.rule-button__blocked {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
}

.rule-button__blocked__icon {
  fill: map-get($statuses, 'bad');
  height: 16px;
  margin-right: 5px;
}
